.App {
  min-height: 100vh;
  font-family: "Cormorant Infant", serif;
  color: #004444;
  font-weight: 500;
  font-style: normal;
  margin: 0;
}
@media screen and (min-height: 601px) {
  .App {
    font-size: 20px;
  }
}
@media screen and (max-height: 600px) {
  .App {
    font-size: 10px;
  }
}

.App-header {
  background: #004444;
  height: 130px;
  padding: 5px;
}
.App-header h1 {
  position: relative;
  text-align: center;
  color: #FFFFF2;
  /* font-size: calc(20px + 2vmin); */
  /* font-family: "Charm", cursive;
  font-weight: 400;
  font-style: normal; */
  margin: 10px 0 0 0;
}
.App-header p {
  color: #FFFFF2;
  text-align: center;
  /* font-size: calc(8px + 2vmin); */
  margin: 2px;
}
.App-header::after {
  position: absolute;
  top: 140px;
  left: 0px;
  width: 100%;
  content: " ";
  background: radial-gradient(circle at 50% 0%, #004444 25%, #FADADD 26%, #FADADD 40%);
  background-color: #004444;
  background-size: 50px 100px;
  height: 50px;
  background-repeat: repeat-x;
}

.Header-logo {
  position: absolute;
  top: 20px;
  left: 40px;
  height: 100px;
}
@media screen and (max-width: 600px) {
  .Header-logo {
    display: none;
  }
} 

.Schedule {
  margin: 50px 0 0 0;
  text-align: center;
}
/* .Schedule h2 {
  font-size: calc(10px + 2vmin);
} */
.Schedule-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -30px 0 0 0;
  padding: 0;
}
.Schedule-info a {
  color: #004444;
  text-decoration: none;
  padding: 0 15px;
  /* font-size: calc(4px + 2vmin); */
}
.Schedule-info p {
  padding: 0 15px;
  /* font-size: calc(4px + 2vmin); */
}

.Office-bg {
  opacity:80%;
  margin: 10px 0;
  /* position: absolute;
  top: 200px;
  left: 0px; */
  width: 100%;
}

.Info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 20%;
}

.Owners-img {
  height: 390px;
  border: 1px solid #0044442f;
  border-radius: 15px;
  /* filter: drop-shadow(#F9C7AE 8px 8px 4px); */
}

/* .Hours {
  font-size: calc(11px + 1vmin);
} */

.Section {
  text-align: center;
  /* font-size: calc(10px + 2vmin); */
}

.Staff {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  margin: 0 5em;
}
.Staff-img {
  max-height: 210px;
  border: 1px solid #0044442f;
  border-radius: 50%;
  filter: drop-shadow(#F9C7AE 8px 8px 4px);
  margin: 3em;
}
.Staff h3 {
  /* font-size: calc(8px + 2vmin); */
  margin: -35px 0 0 0;
}
.Staff p {
  /* font-size: calc(4px + 2vmin); */
  margin: 0;
}

.Footer {
  color: #FFFFF2;
  background-color: #004444;
  text-align: center;
  width: 100%;
  margin: 2em 0;
  padding: 1.5em 0 .5em 0;
}
.Footer-logo {
  height: 55px;
}

.Map {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}